src/main/mule/enquiry/postEnquiry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="createEnquiryFlow" doc:id="d1f4ee33-4b90-4e41-8100-0925ecfc6ac3" >
		<ee:transform doc:name="New Enquiry Details" doc:id="6bf81dd9-c0d9-4670-be3a-f4494a63ff79" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/java
---
[{
	emailId__c: payload.emailId,
	productTitle__c: payload.productTitle,
	quantity__c: payload.quantity
}]]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="objectType" ><![CDATA["Enquiry__c"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Add new Enquiry to the Salesforce Database" doc:id="e7530aca-92c1-4cd2-8140-506e3e9410db" name="addDataInSalesforce" />
		<ee:transform doc:name="Response After adding Enquiry to database" doc:id="cb9d15c8-81bd-4197-8393-a211e6663576" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	("message" : "Enquiry Added Successfully") if(payload.successful==true),
	("message" : "Some Error Occur, Try Again!") if(payload.successful==false)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
